/*------------------------------------*\
  #STANDARD BUTTON

\*------------------------------------*/

button{
    background-color: #8F6F46;
    padding: 1rem 2rem;
    color: #ffffff;
    margin: 2rem;
    border: none;
}


