/*------------------------------------*\
  #STANDARD BUTTON

\*------------------------------------*/

button{
    background-color: #8F6F46;
    padding: 1rem 2rem;
    color: #ffffff;
    margin: 2rem;
    border: none;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.submit {
    transform: translate(-50%, -50%);
    color: #6c6cf0;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
    height: 8rem;
    width: 30rem;
    font-family: Montserrat;
    text-transform: uppercase;
    position: relative;
    top: 5rem;
    left: 16rem;
    padding: 0.5em 2em;
    border: 2px solid #6c6cf0;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #6c6cf0;
        transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        z-index: -1;
    }
    &::after {
        content: "";
        display: inline-block;
        background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
        position: absolute;
        top: 0;
        left: calc(100% - 3em);
        right: 3em;
        bottom: 0;
        background-size: 1.5em;
        background-repeat: no-repeat;
        background-position: center;
        transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    }
    &:hover {
        padding: 0.5em 3.5em 0.5em 0.5em;
        &::before {
            left: calc(100% - 3em);
            right: 0;
            transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
        &::after {
            right: 0;
            transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
    }
}