/*------------------------------------*\
  #STANDARD BUTTON

\*------------------------------------*/
$slate-color: rgb(16,24,50);
$blue-color: #6c6cf0;
$pink-color: #ff7094;
@mixin transition-all {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


button{
    background-color: #8F6F46;
    padding: 1rem 2rem;
    color: #ffffff;
    margin: 2rem;
    border: none;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.submit {
    transform: translate(-50%, -50%);
    color: #6c6cf0;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
    height: 8rem;
    width: 30rem;
    font-family: Montserrat;
    text-transform: uppercase;
    position: relative;
    top: 5rem;
    left: 16rem;
    padding: 0.5em 2em;
    border: 2px solid #6c6cf0;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #6c6cf0;
        transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        z-index: -1;
    }
    &::after {
        content: "";
        display: inline-block;
        background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
        position: absolute;
        top: 0;
        left: calc(100% - 3em);
        right: 3em;
        bottom: 0;
        background-size: 1.5em;
        background-repeat: no-repeat;
        background-position: center;
        transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    }
    &:hover {
        padding: 0.5em 3.5em 0.5em 0.5em;
        &::before {
            left: calc(100% - 3em);
            right: 0;
            transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
        &::after {
            right: 0;
            transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
    }
}

.rainbow-btn{
    color: $slate-color;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.075em;
    padding: .8em 1em;
    margin: auto 2em;
    position: relative;
    align-self: center;
    text-transform: uppercase;
    border: 3px $blue-color solid;
    border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
    border-image-slice: 1 1 0 0;
    box-shadow: -0.5em .5em transparentize($slate-color, 1);
    transform-origin: left bottom;
    @include transition-all;
    &:before,
    &:after {
        border: 3px $blue-color solid;
        content: '';
        display: block;
        position: absolute;
    }
    // SIDE
    &:before {
        border-image: linear-gradient(45deg, $blue-color 0%, adjust-hue($blue-color, 10%) 100%);
        border-image-slice: 1 1 0 1;
        left: -0.59em;
        top: .15em;
        width: .31em;
        height: 100%;
        transform: skewY(-45deg);
    }
    // BOTTOM
    &:after {
        border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
        border-image-slice: 1 1 1 0;
        bottom: -0.61em;
        right: 0.16em;
        width: 100%;
        height: .31em;
        transform: skewX(-45deg);
    }
    // Shadow
    &:hover {
        //border-image-slice: 1;
        background-color: white;
        background-size: 90%;
        transform: translate(0.5em, -0.5em);
        box-shadow: -1em 1em .15em transparentize($slate-color, .9);
        box-shadow: -1em 1em 1em transparentize($blue-color,.9), -1em 1.9em 1.9em transparentize($slate-color,.9), 0em .38em .38em transparentize($slate-color,.9), 0em .76em .76em transparentize($slate-color,.9), 0em 1.52em 1.52em transparentize($slate-color,.9);
        &:before {
            background: (linear-gradient(45deg, $blue-color 0%, adjust-hue($blue-color, 10%) 100%));
            height: calc(100% - .13em);
            border-image-slice: 1;
        }
        &:after {
            background: (linear-gradient(45deg, $blue-color 0%, $pink-color 100%));
            width: calc(100% - .13em);
            border-image-slice: 1;
        }
    } }
