html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*\
  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 48%;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  background-size: contain;
  background-color: #fefefe;
}

img {
  max-width: 100%;
  height: auto;
}

hr,
.hr {
  display: block;
  height: 0.1rem;
  border: 0;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*------------------------------------*\
  #TYPOGHRAPY
\*------------------------------------*/
body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  margin: 0 0 0.6em 0;
  font-weight: 400;
  line-height: 1.18;
  font-family: "Oswald", sans-serif;
}

h1,
.h1 {
  font-size: 4.5rem;
}
@media (max-width: 550px) {
  h1,
.h1 {
    font-size: 4rem;
  }
}

h2,
.h2 {
  font-size: 3.5rem;
}
@media (max-width: 550px) {
  h2,
.h2 {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 550px) {
  h3,
.h3 {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}
@media (max-width: 550px) {
  h4,
.h4 {
    font-size: 1.7rem;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
}
@media (max-width: 550px) {
  h5,
.h5 {
    font-size: 1.5rem;
  }
}

h6,
.h6 {
  font-size: 1.6rem;
}
@media (max-width: 550px) {
  h6,
.h6 {
    font-size: 1.4rem;
  }
}

p,
.p {
  margin: 0 0 1em 0;
  max-width: 900px;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}
p:last-child,
.p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

small {
  font-size: 2rem;
}

.disclamer {
  font-size: 1rem;
  font-style: italic;
}

/*------------------------------------*\
  #STANDARD BUTTON

\*------------------------------------*/
button {
  background-color: #8F6F46;
  padding: 1rem 2rem;
  color: #ffffff;
  margin: 2rem;
  border: none;
}

/*------------------------------------*\
  #Form
\*------------------------------------*/
/*------------------------------------*\
  #Form
\*------------------------------------*/
table {
  width: 100%;
}

th {
  text-align: left;
  font-size: 1.7rem;
}

tr:last-child {
  border-bottom: none;
}

tr:after {
  margin-bottom: 30px;
  content: "";
  display: inline-block;
}
tr:after:last-child {
  display: none;
}

.o-container {
  width: 100%;
  margin: 0 auto;
}
.o-container--primary {
  max-width: 1100px;
}
@media (max-width: 1200px) {
  .o-container--primary {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 750px) {
  .o-container--primary {
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 500px) {
  .o-container--primary {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 350px) {
  .o-container--primary {
    max-width: calc(100% - 40px);
  }
}
.o-container--secondary {
  max-width: 1275px;
}
@media (max-width: 1375px) {
  .o-container--secondary {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 750px) {
  .o-container--secondary {
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 500px) {
  .o-container--secondary {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 350px) {
  .o-container--secondary {
    max-width: calc(100% - 40px);
  }
}
.o-container-hero {
  width: 100%;
  color: #fefefe;
  background: linear-gradient(0.25turn, #ff7094, #6c6cf0);
  background-size: cover;
  padding: 15rem;
}
.o-container-hero-content {
  margin-top: 15rem;
}
.o-container-hero-content a {
  color: #101832;
  cursor: pointer;
  color: #fefefe;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-hero-content a:before, .o-container-hero-content a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-hero-content a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-hero-content a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-hero-content a:hover {
  background-color: white;
  background-size: 90%;
  color: #101832;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-hero-content a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-hero-content a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-products {
  box-shadow: inset 0 0 2rem #000000;
  border-top: none;
  background: #def2f1;
  padding: 10rem;
  display: flex;
  flex-direction: column;
}
.o-container-product {
  display: flex;
  flex-direction: row;
  margin: 5rem;
  box-shadow: 0 0 2rem #000000;
  background: #fefefe;
}
.o-container-product-img {
  width: 30%;
  height: 100%;
  background-size: cover;
  background: no-repeat;
}
.o-container-product-description {
  width: 70%;
  padding: 5rem;
}
.o-container-product-description a {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-product-description a:before, .o-container-product-description a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-product-description a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-product-description a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-product-description a:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-product-description a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-product-description a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-nextto {
  margin: 10rem 10rem 5rem;
  display: flex;
  text-align: center;
}
.o-container-nextto-item {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
}
.o-container-nextto-l {
  border-right: 0.5rem solid #6c6cf0;
  width: 50%;
}
.o-container-nextto-r {
  width: 50%;
}
.o-container-nextto h2 {
  font-size: 4rem;
  font-weight: 700;
}
.o-container-nextto p {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 3rem;
  text-align: center;
}
.o-container-nextto a {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-nextto a:before, .o-container-nextto a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-nextto a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-nextto a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-nextto a:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-nextto a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-nextto a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-banner {
  margin: 5rem 15rem 15rem;
  display: flex;
  flex-flow: row wrap;
  border-top: 0.5rem solid #6c6cf0;
  padding-top: 5rem;
}
.o-container-bannerimg {
  width: 50%;
}
.o-container-bannertxt {
  width: 50%;
  text-align: center;
}
.o-container-bannertxt h2 {
  font-size: 5rem;
  font-weight: 700;
}
.o-container-bannertxt p {
  margin-top: 10rem;
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 2rem;
}
.o-container-bannertxt a {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-bannertxt a:before, .o-container-bannertxt a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-bannertxt a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-bannertxt a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-bannertxt a:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-bannertxt a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-bannertxt a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-catalog {
  box-shadow: inset 0 0 2rem #000000;
  background: #D6D7FF;
  padding: 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.o-container-catalog :nth-of-type(even) {
  background: #D6D7FF;
}
.o-container-item {
  width: 30%;
  min-width: 350px;
  box-shadow: 0 0 2rem #000000;
  background: #fefefe;
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-flow: nowrap column;
  align-content: space-evenly;
  justify-content: center;
  margin-bottom: 5rem;
}
.o-container-item img {
  max-width: 100%;
  margin: 3rem;
}
.o-container-item p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.o-container-item a {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-item a:before, .o-container-item a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-item a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-item a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-item a:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-item a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-item a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-details {
  margin: 10rem 15rem;
  padding: 5rem 0;
  border-top: 0.5rem solid #17252a;
  border-bottom: 0.5rem solid #17252a;
  display: flex;
  flex-flow: row wrap;
}
.o-container-details-l {
  width: 40%;
}
.o-container-details-l-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.o-container-details-l-gallery img {
  width: 30%;
}
.o-container-details-l img {
  padding: 1rem;
  border: 0.1rem solid #cfcfcf;
}
.o-container-details-r {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 50%;
  margin: 5%;
}
.o-container-details-r-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.o-container-details-r-price .btn {
  border: 3px solid #ff7094;
  display: inline-block;
  padding: 10px;
  width: 25rem;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}
.o-container-details-r-price input[type=radio].toggle {
  display: none;
}
.o-container-details-r-price input[type=radio].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
.o-container-details-r-price input[type=radio].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
.o-container-details-r-price input[type=radio].toggle + label:after {
  background: #ff7094;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
.o-container-details-r-price input[type=radio].toggle.toggle-left + label {
  border-right: 0;
}
.o-container-details-r-price input[type=radio].toggle.toggle-left + label:after {
  left: 100%;
}
.o-container-details-r-price input[type=radio].toggle.toggle-right + label {
  margin-left: -5px;
}
.o-container-details-r-price input[type=radio].toggle.toggle-right + label:after {
  left: -100%;
}
.o-container-details-r-price input[type=radio].toggle:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
}
.o-container-details-r-price input[type=radio].toggle:checked + label:after {
  left: 0;
}
.o-container-details-r textarea {
  outline: none;
  resize: none;
  overflow: auto;
  font-size: 1.5rem;
  margin: 3rem;
}
.o-container-details-r a {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #6c6cf0 solid;
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 0 0;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.o-container-details-r a:before, .o-container-details-r a:after {
  border: 3px #6c6cf0 solid;
  content: "";
  display: block;
  position: absolute;
}
.o-container-details-r a:before {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}
.o-container-details-r a:after {
  border-image: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  border-image-slice: 1 1 1 0;
  bottom: -0.61em;
  right: 0.16em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}
.o-container-details-r a:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}
.o-container-details-r a:hover:before {
  background: linear-gradient(45deg, #6c6cf0 0%, #826cf0 100%);
  height: calc(100% - .13em);
  border-image-slice: 1;
}
.o-container-details-r a:hover:after {
  background: linear-gradient(45deg, #6c6cf0 0%, #ff7094 100%);
  width: calc(100% - .13em);
  border-image-slice: 1;
}

.o-dropbtn {
  color: #feffff;
  font-size: 16px;
  border: none;
  background: none;
}

.o-dropup {
  position: relative;
  display: inline-block;
}
.o-dropup-content {
  display: none;
  position: absolute;
  background-color: #17252a;
  min-width: 160px;
  bottom: 50px;
  margin-bottom: 1rem;
  z-index: 1;
}
.o-dropup-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.o-dropup-content a:hover {
  background-color: #3aafa9;
}

.o-dropup:hover .o-dropup-content {
  display: block;
}

.o-modal-reg {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.o-modal-reg div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.o-modal-reg div .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.o-modal-reg div .close:hover, .o-modal-reg div .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.o-modal-login {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.o-modal-login div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.o-modal-login div .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.o-modal-login div .close:hover, .o-modal-login div .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.c-header {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-header-search {
  width: 80%;
  margin: 2rem;
  float: right;
}
.c-header-search-container {
  width: 100%;
  margin: 0;
  position: relative;
  background: #6c6cf0;
}
.c-header-search input {
  width: 50%;
  justify-self: center;
}
.c-header-title {
  position: absolute;
  text-align: center;
  left: 5rem;
  top: 4rem;
  width: 20rem;
  height: 6rem;
  border: 5px #6c6cf0 solid;
  background: #6c6cf0;
  border-radius: 1rem;
  color: #ffffff !important;
  z-index: 1;
}
.c-header-nav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 8px 6px -6px black;
}
.c-header-nav a {
  color: rgba(255, 255, 255, 0.96);
}
.c-header-nav a:hover {
  color: #101832;
}
.c-header-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  line-height: 1;
  float: left;
}
.c-header-nav ul li {
  margin-left: 5rem;
}
.c-header-reg {
  margin-right: 5rem;
  line-height: 3;
}
.c-header-reg :first-child {
  margin-right: 2rem;
}

.c-footer {
  background: #17252a;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap row;
  color: #ffffff;
}
.c-footer-links ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.c-footer-links ul li {
  margin-left: 4rem;
}
.c-footer-links ul li :first-child {
  margin-left: 0;
}
.c-footer-links ul li a {
  color: #FEFFFF;
}
.c-footer-links ul li a:hover {
  color: #3aafa9;
}
.c-footer h3 {
  padding: 2rem;
  margin: 0;
}

.u-bg-cover-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-bg-contain-top {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.u-bx-shadow {
  box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.35);
}
.u-bx-shadow--small {
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
}
.u-bx-shadow--invert {
  box-shadow: 0 8px 6px -6px #eeeeee;
}

.u-reset-ul {
  padding: 0;
  margin: 0;
}
.u-reset-ul li {
  list-style-type: none;
}

.u-reset-arrow-list {
  margin-bottom: 2rem;
}
.u-reset-arrow-list li a {
  display: block;
}
.u-reset-arrow-list li a img {
  width: 15px;
}

.u-skew-45 {
  transform: skew(45deg);
}

.u-unskew-45 {
  transform: skew(-45deg);
}

.u-flex {
  display: flex;
}
.u-flex--half {
  width: 50%;
  margin: 0.5rem 0;
}
.u-flex--half:nth-of-type(2n) {
  margin: 0.5rem 0 0.5rem 1rem;
}
.u-flex--reverse {
  order: revert;
}
.u-flex--center {
  align-items: center;
}
.u-flex--rowWrap {
  flex-flow: row wrap;
}

.u-column-2 {
  column-count: 2;
}

.u-space {
  padding: 4rem 0;
}
@media (max-width: 900px) {
  .u-space {
    padding: 2rem 0;
  }
}
.u-space--middle {
  padding: 0 5rem;
}
@media (max-width: 600px) {
  .u-space--middle {
    padding: 0 3rem;
  }
}
.u-space--large {
  padding: 8rem 0;
}
@media (max-width: 600px) {
  .u-space--large {
    padding: 4rem 0;
  }
}
.u-space--small {
  padding: 2rem 0;
}

.u-border-radius--primary {
  border-radius: 45px 5px 45px 5px;
}
.u-border-radius--secundair {
  border-radius: 30px;
}

/*# sourceMappingURL=main.css.map */
