.c-footer{
  background: #6c6cf0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap row;
  color: #ffffff;
  &-links{

    ul{
      list-style: none;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      li{
        margin-left: 4rem;

        :first-child{
          margin-left: 0;
        }
        a{
          color: #FEFFFF;

          &:hover{
            color: #3aafa9;
          }
        }
      }
    }
  }
  &-share{

  }
  h3{
    padding: 2rem;
    margin: 0;
  }
}
