$slate-color: rgb(16,24,50);
$blue-color: #6c6cf0;
$pink-color: #ff7094;

.c-header {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  background: linear-gradient(0.25turn, $pink-color , $blue-color);

  &-title{
    margin: 0;
    line-height: 2;
  }
  &-nav{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 8px 6px -6px black;

    a{
      color: rgba(255, 255, 255, 0.96);

      &:hover{
        color: $slate-color;
      }
    }

    ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      list-style: none;
      line-height: 1;
      float: left;

      li{
        margin-left: 5rem;

      }
    }
  }
  &-reg{
    margin-right: 5rem;
    line-height: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    :first-child{
      margin-right: 2rem;
    }
  }
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + section {
  padding-top: 15rem;
}

.sticky + .o-container-questions{
  padding-top: 21rem;
}
.sticky + .o-container-details{
  padding-top: 21rem;
}