.c-header {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &-search{
    width: 80%;
    margin: 2rem;
    float: right;

    &-container{
      width: 100%;
      margin: 0;
      position: relative;
      background: #5f7d59;
    }
    input{
      width: 50%;
      justify-self: center;
    }
  }
  &-title{
    position: absolute;
    text-align: center;
    left: 5rem;
    top: 5rem;
    width: 20rem;
    height: 6rem;
    border: 5px #5f7d59 solid;
    background: #5f7d59;
    border-radius: 1rem;
    color: #ffffff !important;
    z-index: 1;

  }
  &-nav{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 8px 6px -6px black;

    a{
      color: rgba(255, 255, 255, 0.96);

      &:hover{
        color: #8ed493;
      }
    }

    ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      list-style: none;
      line-height: 1;
      float: left;

      li{
        margin-left: 5rem;

      }
    }
  }
  &-reg{
    margin-right: 5rem;
    line-height: 3;

    :first-child{
      margin-right: 2rem;
    }
  }
}
